@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.fullPage{
    display: flex;
}

.sider{
    max-width: 15%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 40px;
    align-items: center;
    height: 100vh;
}

.siderName{
    color: #FC6A00;
    letter-spacing: 8px;
    font-weight: 500;
    font-size: 24px;
}

.unitContainer{
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
}

.siderUnit{
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #BFBFBF;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
}
.siderUnitHome{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FC6A00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4D3A2C;
    border-radius: 16px;
    width: 200px;
}

/* end of Sider */

/* start of main */

.mainContent{
    display: flex;
    padding-top: 40px;
    padding-left: 121px;
    padding-right: 8%;
}

.mainHeader{
    display: flex;
    gap: 262px;
}

.welcomeTop{
    display: flex;
    gap: 4px;
    
    
}

.welcomeName{
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
}

.welcomeDif{
    color: #FC6A00;
}

.welcomeCenter{
    display: flex;
    gap: 15px;
}

.rightContainer{
    width: 188px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    background-color: #FFFFFF;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.welcomeHour{
    color: #FC6A00;
}

.welcomeLeftPart{
    width: 325px;
}

.welcomeInfo{
    display: flex;
    gap: 10px;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.navCon{
    display: flex;
    width: 415px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.single{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.user{
    display: flex;
    width: 162px;
    height: 56px;
    font-size: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 12px;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
}

.welcomeUser{
    display: flex;
    flex-direction: column;
}

.welcomeUserName{
    color: #808080;
}

/* end of header */

.basicInfo{
    display: flex;
    flex-direction: column;
    padding-top: 26px;
    padding-left: 121px;
}

.pinnedTop{
    gap: 24px;
}

.pinned{
    display: flex;
    gap: 450px;
}

.pinnedContent{
    display: flex;
    margin-top: 32px;
    gap: 80px;

}

.pinnedContentSingleTop{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 24px, 12px, 24px, 12px;
    background-color: #FFFFFF;
    width: 214px;
    height: 88px;
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.pinnedRes{
    color: #FC6A00;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.pinnedTop{
    display: flex;
}

.pinnedBottom{
    display: flex;
    gap: 24px;
}

.pinnedContentSingleBottom{
    display: flex;
    flex-direction: column;
    width: 214px;
    padding: 12px;
    background-color: #FFFFFF;
    border-radius: 16px;
    align-items: center;
    gap: 8px;
}

.pinnedDifLeft{
    display: flex;
    align-items: center;
    gap: 8px;
}

.pinnedDifLeftTop{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.pinnedDifBot{
    width: 190px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 6px;
}

.pinnedDifBot span{
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    color: #808080;
    
}

.more{
    display: flex;
    justify-content: flex-end;
    color: #808080;
    font-weight: 500;
}

.pinnedLeft{
    display: flex;
    flex-direction: column;
    width: 213px;
    height: 136px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 12px;
    gap: 12px;
}

.pinnedLeftTop{
    display: flex;
    align-items: center;
    gap: 8px;
}

.attendanceContainer{
    display: flex;
    justify-content: space-around;
}

.attendance{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.userChoices{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    max-height: 700px;
    overflow-y: scroll;
}

.userChoices::-webkit-scrollbar {
    display: none;
}

.choiceContent{
    width: 142.33px;
    height: 137px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.choiceContent span{
    text-align: center;
}

.choiceRow{
    display: flex;
    gap: 12px;
}

.halfChoice{
    display: flex;
    justify-content: center;
    width: 451px;
    background-color: #FFFFFF;
    border-radius: 16px;
    padding: 12px;
    height: 137px;
}
.test{
    display: flex;
    font-size: 10px;
}

.tests{
    display: flex;
    font-size: 10px;
    background-color: #FFE9D9;
    color: #FC6A00;
}
.tableNumerics{
    background-color: #FC6A00;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.bodyLeft{
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}



.tableTopStartUnit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top-left-radius: 12px;
    width:123px;
    height: 128px;
    padding: 12px;
}

.tableTopLastUnit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-top-right-radius: 12px;
    width:123px;
    height: 128px;
    padding: 12px;
}

.tableBottomStartUnit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom-left-radius: 12px;
    width:123px;
    height: 128px;
    padding: 12px;
}

.tableBottomEndUnit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom-right-radius: 12px;
    width:123px;
    height: 128px;
    padding: 12px;
}

.tableBodyUnit{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
    width:123px;
    height: 128px;
    padding: 12px;
}

.tableBottomBody{
    display: flex;
}

.upperTable{
    display: flex;
}
.card{
    max-width: 685px;
    height: 938px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 24px;
}

.card h2{
    color: rgba(252, 106, 0, 1);
    font-size: 24px;
    font-family: Noto Sans Georgian;
}

.loginCard{
    max-width: 501px;
    margin: auto;
    position: relative;
    top: 128px;
}

.input p{
    color: rgba(0, 0, 0, 1);
    font-family: Noto Sans Georgian ;
    font-size: 14px;
    text-align: left;
    position: relative;
    top: 8px;
}


.inputS{
    border: none;
    outline: none;
    background-color: rgba(248, 248, 248, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    width: 501px;
    height: 49px;
    border-radius: 12px;
    padding-left:16px ;
}

.loginCrdItem{
    padding-top: 56px;
}

.forgetPassword{
    text-align: right;
}

.forgetPassword p{
    color: rgba(252, 106, 0, 1);
    font-size: 14px;
    cursor: pointer;
}

.btn{
    background-color: rgba(252, 106, 0, 1);
    width: 501px;
    height: 49px;
    border: none;
    outline: none;
    border-radius: 12px;
    color: #fff;
    font-family: Noto Sans Georgian;
    font-size: 14px;
    cursor: pointer;
}

.card .container{
    position: relative;
    top: 32px;
}


.continerGroup{
    padding-top: 16px;
}

.socialCard{
    background: rgba(248, 248, 248, 1);
    border: 1px solid rgba(230, 230, 230, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    gap: 12px;
}

.cardGroup{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.tableNumeric{
    text-align: start;
}

.unitHour{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 66px;
    height: 22px;
    padding: 3px, 4px, 3px, 4px;
    border-radius: 4px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    margin-left: 15%;
}

.placeHolder{
    background-color: #FFFFFF;
    padding: 8px, 16px, 8px, 16px;
    width: 859px;
    height: 36px;
    border-radius: 8px;
    border: none;
    padding-left: 30px;
}