@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian:wght@100..900&display=swap');

.fullPage{
    display: flex;
}

.sider{
    max-width: 15%;
    background-color: #333333;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.siderName{
    color: #FC6A00;
    letter-spacing: 8px;
}

.unitContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    padding: 12px;
}

.siderUnit{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #BFBFBF;
}
.siderUnitHome{
    display: flex;
    align-items: center;
    gap: 5px;
    color: #FC6A00;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #4D3A2C;
    border-radius: 16px;
}

/* end of Sider */

/* start of main */
.mainContent{
    display: flex;
    padding-top: 60px;
    padding-left: 8%;
    padding-right: 8%;
}
.welcome{
    display: flex;
}